# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment — never upload this
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env
*.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/